<footer class="mt-auto py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted">Accueil</a></li>
        <li class="nav-item"><a href="/graphe" class="nav-link px-2 text-muted">Graphe</a></li>
        <li class="nav-item"><a href="/table" class="nav-link px-2 text-muted">Table</a></li>
        <li class="nav-item"><a href="/informations" class="nav-link px-2 text-muted">Informations</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Company, Inc</p>
</footer>