<header class="d-flex flex-wrap justify-content-center  border-bottom">
    <a href="/" id="logo" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="fs-4" src="/public/images/S.png" alt="" width="65" height="80">
        <span class="fs-4">TER-DashBoard</span>
    </a>

    <ul class="nav nav-pills justify-content-center py-3">
        <li class="nav-item"><a href="/home" class="nav-link" aria-current="page">Accueil</a></li>
        <li class="nav-item"><a href="/graphe" class="nav-link">Graphe</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Tables</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/table/article">Article</a></li>
                <li><a class="dropdown-item" href="/table/auteur">Auteur</a></li>
                <li><a class="dropdown-item" href="/table/ecrit-par">Ecrit par</a></li>
                <li><a class="dropdown-item" href="/table/en-lien">En Lien</a></li>
                <li><a class="dropdown-item" href="/table/parle-de">Parle de</a></li>
                <li><a class="dropdown-item" href="/table/personnalite">Personnalite</a></li>
                <li><a class="dropdown-item" href="/table/source">Source</a></li>
            </ul>
        </li>
        <li class="nav-item"><a href="/informations" class="nav-link">Informations</a></li>
    </ul>
</header>