<header class="d-flex flex-wrap justify-content-center  border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="fs-4" src="/public/images/S.png" alt="" width="65" height="80">
        <span class="fs-4">TER-DashBoard</span>
    </a>

    <ul class="nav nav-pills justify-content-center py-3">
        <li class="nav-item"><a href="/home" class="nav-link" aria-current="page">Accueil</a></li>
        <li class="nav-item"><a href="/graphe" class="nav-link">Graphe</a></li>
        <li class="nav-item"><a href="/table" class="nav-link">Table</a></li>
        <li class="nav-item"><a href="/informations" class="nav-link">Informations</a></li>
    </ul>
</header>