<!DOCTYPE html>
<html lang="fr">
<%- include('../templates/head'); -%>
<body class="d-flex flex-column min-vh-100">
<%- include('../templates/header'); -%>
<div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold fs-2">TER Les Surligneurs</h1>
        <div class="col-lg-6 mx-auto">
            <img src="../../public/images/logo_ter.png" alt="Cannot load logo" class="img-fluid " style="margin-top: -4px; width: 52%">
            <p>L'objectif de notre application est de permettre la consultation de statistiques en rapport avec des données récupérées depuis
                le site <span class="fw-bold">'Les Surligneurs'</span>. La visualisation de ces statistiques peuvent se présenter sous la forme de graphes ou bien de tables.
                L'affichage des données concernant la partie graphes se trouve dans la rubrique <span class="fw-bold">'Graphes'</span> tandis que pour avoir l'aperçu des
                éléments stockés dans la base de données, il suffit d'aller dans la catégorie <span class="fw-bold">'Tables'</span>.
            </p>
        </div>
</div>
<%- include('../templates/footer'); -%>
</body>
</html>
