<!DOCTYPE html>
<html lang="fr">
<%- include('../templates/head'); -%>
<body class="d-flex flex-column min-vh-100">
<%- include('../templates/header'); -%>
<div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold fs-2">TER Les Surligneurs</h1>
        <div class="col-lg-6 mx-auto">
            <img src="../../public/images/logo_ter.png" alt="Cannot load logo" class="img-fluid " style="margin-top: -10px; width: 52%">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec lectus sed diam sagittis interdum. Praesent porta tincidunt lobortis. Donec vel nibh eu quam lacinia efficitur sit amet a nisl. Sed hendrerit aliquet ante in tempus. Nulla fringilla sapien non dui lobortis volutpat at et diam. In augue purus, tincidunt ut nibh at, interdum lobortis leo. Morbi nec ultricies odio. Maecenas in feugiat orci, a pretium odio. Integer at lacus lacinia, pellentesque sem lacinia, pellentesque mauris. Cras sollicitudin non tellus non luctus. Duis vestibulum libero id commodo euismod. Fusce pellentesque varius tellus id elementum. Nam id auctor massa.</p>
        </div>
</div>
<%- include('../templates/footer'); -%>
</body>
</html>
